.slideshowContainer {
    width: 100%;
    height: 500px;
    box-sizing: content-box;
}

.homeContainer {
    display: flex;
    width: 100%;
    background-color: #F4F7FF;
}

.rentingContainer {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}