.metaDataForm__label {
    margin-left: 0 !important;
    font-weight: bold !important;
    font-size: 1rem !important;
    color: #000 !important; 
   
}
.category__select{
    padding: 0 0 0 0 !important;
}