* {
    margin: 0;
    padding: 0;
}

.editUserModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.editUserModal {
    width: 600px;
    height: auto;
    max-width: 100%;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 30px 0;
    max-height: calc(100vh);
    overflow-y: auto;

}


.editUserModalHeader {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editUserHr {
    margin: 20px 0;
}

.editUserModalBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}

/* .editUserProfileUserImg {
    margin: 30px;
    height: 400px;
}
.editUserCoverImgContainer{
    height: 300px;
}
.editUserAvatarContainer{
    width: 100%;
    height: 300px;
} */

.editUserCloseBtnModal {
    position: absolute;
    right: 0;
    top: 0;
    /* background-color: aqua; */
    width: 10px;
}

.editUserCoverImgContainer {
    height: 220px;
    /* position: relative; */
}
.editUserCover{
    height: 200px;
    width: 500px;
}

.editUserCoverImgCancelImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
    /* position: absolute; */
    /* top: 30;
    right: 0; */
    color: aliceblue;
}

.editUserAvatarContainer {
    display: flex;
    justify-content: center;
    height: 200px;
    /* position: relative; */
    margin-bottom: 100px;

}

.editUserAvatar {
    /* position: absolute; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    /* left: 400;
    top: 0; */
    margin-top: 10px;
    border: 3px solid white;

}
.uploadLabel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.uploadIcon{
    cursor: pointer;
    font-size: 40px;

}
.editUserBox {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.editUserInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.labelInputEditUser{
    flex:1;
}
.editUserInput {
    flex: 3;
    /* margin-left: 20px; */
    height: 30px;
    border-radius: 10px;
    border: none;
    /* border: 1px solid gray; */
    font-size: 18px;
    padding-left: 20px;
    width: 60%;
    outline: none;
    background:
        linear-gradient(#000, rgb(116, 111, 111)) center bottom 5px /calc(100% - 10px) 1px no-repeat;
    margin: 0;
}

.editUserInput:focus {
    outline: none;
}



.editUserSubmitButton {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #2179ed;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}