.post {
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin: 30px 0;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 18px 0px 18px;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.postUsername {
    font-size: 15px;
    font-weight: 500;
}

.postDate {
    font-size: 12px;
    color: #65676B;
}

.postCenter {
    margin: 20px 0;
}

.postImg {
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.postVideo {
    width: 750px;
    /* height: 300px; */
    max-height: 400px;
    margin: 0 0 0 0;
}

.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(217, 214, 214);
    border-bottom: 1px solid rgb(217, 214, 214);
    padding: 10px 10px;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.likeIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter {
    font-size: 15px;
}

.postBottomRight {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.postCommentText {
    /* cursor: pointer; */
    border-bottom: 1px dashed gray;
    font-size: 15px;
    margin-left: 10px;
}